.commerce-draft-carts {
  display: block;
  text-align: right;
  padding-top: 15px;
}

.commerce-draft-carts .current-cart {
  min-height: 12px;
  vertical-align: middle;
  text-align: left;
}
.commerce-draft-carts .current-cart a {
  font-weight: bold;
  padding: 1px 8px 1px 8px;
}

.commerce-draft-carts .draft-carts {
  display: none;
  background: #ffffff;
  padding: 5px 8px 5px 8px;
}

.commerce-draft-carts .draft-carts div {
  display: block;
}

.commerce-draft-carts .cart-switch-link {
  text-align: left;
}

.commerce-draft-carts .carts-links {
  display: inline;
  float: right;
}

.commerce-draft-carts .carts-links .link {
  float: left;
  display: block;
  text-decoration: none;
  height: 12px;
  width: 12px;
  overflow: hidden;
  text-indent: 20px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

.commerce-draft-carts .carts-links .renamelink a {
  display: block;
  height: 12px;
  width: 12px;
  background: url(images/pen_12x12.png) no-repeat left top;
}

.commerce-draft-carts .carts-links .deletelink a {
  display: block;
  height: 12px;
  width: 12px;
  background: url(images/x_11x11.png) no-repeat left top;
}

.commerce-draft-carts .carts-links .createlink a {
  display: block;
  height: 12px;
  width: 12px;
  background: url(images/new_window_12x12.png) no-repeat left top;
}
