#commerce-draft-carts-rename-form div {
  display: inline;
}
#commerce-draft-carts-rename-form .form-submit {
  float: none;
}
#commerce-draft-carts-rename-form .form-type-textfield label {
  display: inline;
  margin-right: 5px;
}
